// --- VARIABLES ---
$black: #2f3e46;
$dark-green: #354f52;
$green: #52796f;
$light-green: #84a98c;
$white: #cad2c5;

$shadow: 3px 3px 3px 0px #333333;
$neon-shadow: 0 0 3px rgba(132, 169, 140, 0.5);

// --- SELECT ---
.select-container {
   margin-top: 20px;

   select,
   option {
      font-size: 1rem;
      font-family: inherit;
   }

   label {
      margin-right: 20px;
   }

   select {
      background-color: $black;
      border: none;
      padding: 10px;
      border-radius: 10px;
      color: $white;
      opacity: 0.7;
      box-shadow: $shadow;
      transition: all 0.3s ease;

      &:hover,
      &:focus {
         opacity: 1;
         outline: none;
      }
   }
}
