@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Montserrat:wght@500;600;700&display=swap');

// --- VARIABLES ---
$black: #2f3e46;
$dark-green: #354f52;
$green: #52796f;
$light-green: #84a98c;
$white: #cad2c5;

$shadow: 3px 3px 3px 0px #333333;
$neon-shadow: 0 0 3px rgba(132, 169, 140, 0.5);

// --- GLOBAL CLASSES ---
.container {
   max-width: 1200px;
   width: 80%;
   margin: 0 auto;
}

.visually-hidden {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
}

.col-2 {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

%underline-anim {
   position: relative;

   &:after {
      content: '';
      position: absolute;
      transform-origin: bottom right;
      transition: transform 0.2s ease-out;
      transform: scaleX(0);
      left: 5%;
      width: 90%;
   }

   &:hover::after,
   &:focus::after {
      transform: scaleX(1);
      transform-origin: bottom left;
   }
}
.underline-link {
   @extend %underline-anim;
   padding: 0 10px;

   &::after {
      height: 1px;
      bottom: 0;
      background-color: $white;
   }
}
.title-link {
   @extend %underline-anim;

   font-size: 3rem;
   display: inline-block;
   margin: 0 auto;
   padding: 10px 40px;
   color: $black;
   transition: all 0.2s ease;

   &:hover {
      color: #333;
   }
   &::after {
      height: 2px;
      bottom: 20px;
      background-color: $black;
   }
}

.wave {
   position: absolute;
   bottom: 140px;
   left: 0;
   z-index: -1;
}

// --- TITLES ---
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}
h2 {
   text-align: center;
   color: $black;
   font-weight: 600;
   text-transform: uppercase;
   margin-bottom: 40px;

   + p {
      text-align: center;
   }
}
h3 {
   font-family: 'Hind', sans-serif;
   color: $black;
   font-weight: normal;
   font-size: 1.8rem;
}
label,
button {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
}

// --- GLOBAL STYLING ---
* {
   box-sizing: border-box;
}
body {
   font-family: 'Hind', sans-serif;
   font-size: 1.2rem;
   background-color: $white;
   margin: 0;
   overflow-x: hidden;

   main {
      min-height: 70vh;
      position: relative;
   }

   a {
      color: inherit;
      text-decoration: none;
      opacity: 0.9;
      transition: all 0.2s ease;
      display: inline-block;

      &:hover,
      &:focus {
         opacity: 1;
         color: white;
         outline: none;
      }

      &.active {
         font-weight: bolder;
         opacity: 1;
      }
   }
}

// --- HEADER ---
header {
   background-color: $black;
   margin-bottom: 20px;
   color: $white;
   overflow: hidden;

   > div {
      display: flex;
      align-items: center;
      justify-content: space-around;
   }
}

// --- NAVIGATION ---
nav {
   margin-left: 20px;
   button {
      font-size: 2.5rem;
      background-color: transparent;
      border: none;
      padding: 10px;
      display: flex;
      align-items: center;
      color: $white;
      opacity: 0.8;
      margin: 10px 0 10px auto;
      border-radius: 10px;
      transition: opacity 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;

      &:hover,
      &:focus {
         opacity: 1;
         color: white;
         outline: none;
         box-shadow: $neon-shadow;
      }
   }

   ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      flex-direction: column;
      background-color: $dark-green;
      border-radius: 10px;
      box-shadow: $neon-shadow;
      width: 40vw;
      max-width: 400px;
      min-width: 150px;

      li {
         display: inline-block;
      }
   }
}

// --- FOOTER ---
footer {
   background-color: $black;
   margin-top: 20px;
   padding: 1px 0;
   color: $white;
   text-align: center;
   position: relative;

   p {
      margin-bottom: 0;

      a {
         font-size: 1.4rem;
      }
   }

   p + a {
      margin-top: 10px;
      font-size: 3rem;
   }
}

/// --- SECTIONS ---
#home-section {
   display: flex;
   flex-direction: column;
   flex-direction: center;
   align-items: center;

   div {
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;

      video {
         padding: 5px;
         border-radius: 10px;
         background-color: $black;
         max-height: 200px;
         max-width: 350px;
         margin: 0 100px;
      }
   }
}

#error-section {
   text-align: center;
}

// --- FORM ---
form {
   border-radius: 10px;
   padding: 20px;
   background-color: $dark-green;
   color: $white;
   box-shadow: $shadow;
   z-index: 1;
}

// --- MEDIA QUERIES ---
@media screen and (max-width: 1000px) {
   .col-2 {
      grid-template-columns: 1fr;
   }

   .demo-box-container {
      margin-top: 50px;

      .demo-box {
         margin: 0 auto;
      }

      .copy-container {
         margin: 70px auto 0 auto;
      }
   }

   #home-section {
      div {
         flex-direction: column;

         &:nth-child(3) {
            flex-direction: column-reverse;
         }
      }
   }
}

@media screen and (max-width: 600px) {
   body {
      font-size: 1.1rem;
   }
   .container {
      width: 90%;
   }
}
