@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Montserrat:wght@500;600;700&display=swap');

// --- VARIABLES ---
$black: #2f3e46;
$dark-green: #354f52;
$green: #52796f;
$light-green: #84a98c;
$white: #cad2c5;

$shadow: 3px 3px 3px 0px #333333;

// --- GLOBAL CLASSES ---
.container {
   max-width: 1200px;
   width: 80%;
   margin: 0 auto;
}

.visually-hidden {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
}

.col-2 {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

// --- TITLES ---
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}
h2 {
   text-align: center;
   color: $black;
   font-weight: 600;

   + p {
      text-align: center;
   }
}
label {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
}

// --- GLOBAL STYLING ---
* {
   box-sizing: border-box;
}
body {
   font-family: 'Hind', sans-serif;
   font-size: 1.2rem;
   background-color: $white;
   min-height: 100vh;
   margin: 0;
   overflow-x: hidden;
}

// --- HEADER ---
header {
   background-color: $black;
   margin-bottom: 20px;
   color: $white;

   > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   a {
      color: inherit;
      text-decoration: none;
      opacity: 0.9;
      transition: all 0.2s ease;
      display: inline-block;

      &:hover {
         opacity: 1;
         color: white;
      }

      &.active {
         font-weight: bolder;
         opacity: 1;
      }
   }
}

// --- FOOTER ---
footer {
   background-color: $black;
   margin-top: 20px;
   padding: 1px 0;
   color: $white;

   h2 {
      color: inherit;
   }
}

// --- NAVIGATION ---
nav {
   ul {
      list-style: none;

      li {
         display: inline-block;
         margin-right: 20px;
         a {
            position: relative;

            &::after {
               content: '';
               position: absolute;
               width: 100%;
               height: 1px;
               bottom: 0;
               left: 0;
               background-color: $white;
               transform-origin: bottom right;
               transition: transform 0.2s ease-out;
               transform: scaleX(0);
            }

            &:hover::after {
               transform: scaleX(1);
               transform-origin: bottom left;
            }
         }
      }
   }
}

// --- FORM ---
form {
   border-radius: 10px;
   padding: 20px;
   background-color: $dark-green;
   color: $white;
   box-shadow: $shadow;
   input {
      color: $white;
   }

   // --- Slider ---
   .slider-container {
      input[type='range'] {
         -webkit-appearance: none;
         appearance: none;
         width: 100%;
         height: 20px;
         // margin-top: 10px;
         border-radius: 10px;
         background-color: $light-green;
         outline: none;
         opacity: 0.7;
         transition: all 0.2s ease;
         &:hover,
         &:focus {
            opacity: 1;
         }
         &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $dark-green;
            cursor: pointer;
         }
         &::-moz-range-thumb {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: white;
            border: 1px solid $dark-green;
            cursor: pointer;
         }
      }

      .label-container {
         position: relative;
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 0 20px;

         input[type='text'] {
            border: none;
            font-size: 1.5rem;
            font-weight: lighter;
            margin: 0;
            width: 20%;
            padding: 5px 20px;
            text-align: right;
            background-color: transparent;

            &:focus {
               outline: none;
            }
         }
         span {
            position: absolute;
            right: -10px;
            bottom: 0;
            font-size: 0.9rem;
         }
      }
   }

   // --- Color ---
   .color-container {
      display: flex;
      align-items: center;
      margin-top: 20px;

      input[type='color'] {
         background-color: $black;
         border: none;
         border-radius: 10px;
         width: 60px;
         height: 45px;
         padding: 5px;
         opacity: 0.8;
         transition: all 0.2s ease;

         &:hover {
            background-color: $light-green;
            opacity: 1;
         }
      }

      label {
         margin-right: 20px;
      }
   }

   // --- Check box ---
   .container-checkbox {
      display: flex;
      align-items: center;
      margin-top: 20px;

      label {
         margin-right: 20px;
      }

      .checkbox-wrapper .tgl {
         display: none;
      }
      .checkbox-wrapper .tgl + .tgl-btn {
         outline: 0;
         display: block;
         width: 4em;
         height: 2em;
         position: relative;
         cursor: pointer;
         opacity: 0.7;
         box-shadow: shadow;

         &:hover {
            opacity: 1;
         }
      }
      .checkbox-wrapper .tgl + .tgl-btn:after,
      .checkbox-wrapper .tgl + .tgl-btn:before {
         position: relative;
         display: block;
         content: '';
         width: 50%;
         height: 100%;
      }
      .checkbox-wrapper .tgl + .tgl-btn:after {
         left: 0;
      }
      .checkbox-wrapper .tgl + .tgl-btn:before {
         display: none;
      }
      .checkbox-wrapper .tgl:checked + .tgl-btn:after {
         left: 50%;
      }

      .checkbox-wrapper .tgl-skewed + .tgl-btn {
         overflow: hidden;
         transform: skew(-10deg);
         -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
         transition: all 0.2s ease;
         background: $black;
      }
      .checkbox-wrapper .tgl-skewed + .tgl-btn:after,
      .checkbox-wrapper .tgl-skewed + .tgl-btn:before {
         transform: skew(10deg);
         display: inline-block;
         transition: all 0.2s ease;
         width: 100%;
         text-align: center;
         position: absolute;
         line-height: 2em;
         font-weight: bold;
         color: $white;
         text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
      }
      .checkbox-wrapper .tgl-skewed + .tgl-btn:after {
         left: 100%;
         content: attr(data-tg-on);
         color: white;
      }
      .checkbox-wrapper .tgl-skewed + .tgl-btn:before {
         left: 0;
         content: attr(data-tg-off);
      }
      .checkbox-wrapper .tgl-skewed:checked + .tgl-btn {
         background: $light-green;
      }
      .checkbox-wrapper .tgl-skewed:checked + .tgl-btn:before {
         left: -100%;
      }
      .checkbox-wrapper .tgl-skewed:checked + .tgl-btn:after {
         left: 0;
      }
   }

   // --- Select ---
   .select-container {
      margin-top: 20px;

      select,
      option {
         font-size: 1rem;
         font-family: inherit;
      }

      label {
         margin-right: 20px;
      }

      select {
         background-color: $black;
         border: none;
         padding: 10px;
         border-radius: 10px;
         color: $white;
         opacity: 0.7;
         box-shadow: $shadow;
         transition: all 0.3s ease;

         &:hover {
            opacity: 1;
         }
      }
   }
}

// --- DEMO BOX ---
.demo-box-container {
   margin-top: 20px;
   color: $white;

   .demo-box {
      width: 70%;
      min-height: 300px;
      background-color: $light-green;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
         color: $black;
         font-size: 3rem;
         padding: 0 20px;
      }
   }
   .copy-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $black;
      margin: 100px auto 0 auto;
      width: 75%;
      border-radius: 10px;
      padding: 5px 20px;
      box-shadow: $shadow;

      p {
         margin-right: 20px;

         span {
            display: block;
         }
      }

      .copy-btn-container {
         text-align: center;
         width: 20%;
         cursor: pointer;
         transition: all 0.2s ease;
         opacity: 0.7;

         &:hover {
            color: white;
            opacity: 1;
         }

         button {
            background-color: transparent;
            border: none;
            color: $white;
            font-size: 2rem;
         }

         span {
            display: block;
            font-size: 0.8rem;
         }
      }
   }
}

// --- MEDIA QUERIES ---
@media screen and (max-width: 1000px) {
   body {
      font-size: 1.1rem;
   }
   .col-2 {
      grid-template-columns: 1fr;
   }

   .demo-box-container {
      margin-top: 50px;

      .copy-container {
         margin: 70px auto 0 auto;
      }
   }
}

@media screen and (max-width: 600px) {
   body {
      font-size: 1rem;
   }
   .container {
      width: 90%;
   }
}
