@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Montserrat:wght@500;600;700&display=swap');

// --- VARIABLES ---
$black: #2f3e46;
$dark-green: #354f52;
$green: #52796f;
$light-green: #84a98c;
$white: #cad2c5;

$shadow: 3px 3px 3px 0px #333333;
$neon-shadow: 0 0 3px rgba(132, 169, 140, 0.5);

// --- GLOBAL CLASSES ---
.container {
   max-width: 1200px;
   width: 80%;
   margin: 0 auto;
}

.visually-hidden {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
}

.col-2 {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

// --- TITLES ---
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}
h2 {
   text-align: center;
   color: $black;
   font-weight: 600;
   text-transform: uppercase;

   + p {
      text-align: center;
   }
}
label,
button {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
}

// --- GLOBAL STYLING ---
* {
   box-sizing: border-box;
}
body {
   font-family: 'Hind', sans-serif;
   font-size: 1.2rem;
   background-color: $white;
   min-height: 100vh;
   margin: 0;
   overflow-x: hidden;
}

// --- HEADER ---
header {
   background-color: $black;
   margin-bottom: 20px;
   color: $white;

   > div {
      display: flex;
      align-items: center;
      justify-content: space-around;
   }

   a {
      color: inherit;
      text-decoration: none;
      opacity: 0.9;
      transition: all 0.2s ease;
      display: inline-block;

      &:hover,
      &:focus {
         opacity: 1;
         color: white;
         outline: none;
      }

      &.active {
         font-weight: bolder;
         opacity: 1;
      }
   }
}

// --- NAVIGATION ---
nav {
   margin-left: 20px;
   button {
      font-size: 2.5rem;
      background-color: transparent;
      border: none;
      padding: 10px;
      display: flex;
      align-items: center;
      color: $white;
      opacity: 0.8;
      margin: 10px 0 10px auto;
      border-radius: 10px;
      transition: opacity 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;

      &:hover,
      &:focus {
         opacity: 1;
         color: white;
         outline: none;
         box-shadow: $neon-shadow;
      }
   }

   ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      flex-direction: column;
      background-color: $dark-green;
      border-radius: 10px;
      box-shadow: $neon-shadow;
      width: 40vw;
      max-width: 400px;
      min-width: 150px;

      li {
         display: inline-block;
         a {
            position: relative;
            padding: 0 10px;

            &::after {
               content: '';
               position: absolute;
               width: 90%;
               height: 1px;
               bottom: 0;
               left: 5%;
               background-color: $white;
               transform-origin: bottom right;
               transition: transform 0.2s ease-out;
               transform: scaleX(0);
            }

            &:hover::after,
            &:focus::after {
               transform: scaleX(1);
               transform-origin: bottom left;
            }
         }
      }
   }
}

// --- FOOTER ---
footer {
   background-color: $black;
   margin-top: 20px;
   padding: 1px 0;
   color: $white;

   h2 {
      color: inherit;
   }
}

// --- FORM ---
form {
   border-radius: 10px;
   padding: 20px;
   background-color: $dark-green;
   color: $white;
   box-shadow: $shadow;
   z-index: 1;
}

// --- MEDIA QUERIES ---
@media screen and (max-width: 1000px) {
   .col-2 {
      grid-template-columns: 1fr;
   }

   .demo-box-container {
      margin-top: 50px;

      .demo-box {
         margin: 0 auto;
      }

      .copy-container {
         margin: 70px auto 0 auto;
      }
   }
}

@media screen and (max-width: 600px) {
   body {
      font-size: 1.1rem;
   }
   .container {
      width: 90%;
   }
}
