@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Montserrat:wght@500;600;700&display=swap');

// --- VARIABLES ---
$black: #2f3e46;
$dark-green: #354f52;
$green: #52796f;
$light-green: #84a98c;
$white: #cad2c5;

// --- GLOBAL CLASSES ---
.container {
   max-width: 1200px;
   width: 80%;
   margin: 0 auto;
}

.visually-hidden {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
}

.col-2 {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

// --- TITLES ---
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}
label {
   font-weight: 600;
}

// --- GLOBAL STYLING ---
* {
   font-family: 'Montserrat', sans-serif;
}
body {
   //    font-family: 'Hind', sans-serif;
   font-size: 1.2rem;
   background-color: $white;
   min-height: 100vh;
   margin: 0;
}

// --- DEMO BOX ---
.demo-box-container {
   margin-top: 20px;
   color: $white;

   .demo-box {
      width: 50%;
      height: 50%;
      background-color: $light-green;
      margin: 0 auto;
   }
   .copy-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $black;
      margin: 100px auto 0 auto;
      width: 75%;
      border-radius: 10px;
      padding: 5px 20px;
      box-shadow: 3px 3px 3px 0px #333333;

      p {
         font-family: 'Hind', sans-serif;
         text-align: center;
         margin-right: 20px;
      }

      .copy-btn-container {
         text-align: center;
         width: 20%;
         cursor: pointer;
         transition: all 0.2s;
         opacity: 0.7;

         &:hover {
            color: white;
            opacity: 1;
         }

         button {
            background-color: transparent;
            border: none;
            color: $white;
            font-size: 2rem;
         }

         span {
            display: block;
            font-size: 0.8rem;
         }
      }
   }
}

// --- FORM ---
form {
   // --- Slider ---
   .slider-container {
      input[type='range'] {
         -webkit-appearance: none;
         appearance: none;
         width: 100%;
         height: 20px;
         border-radius: 10px;
         background-color: $light-green;
         outline: none;
         opacity: 0.7;
         border: 1px solid transparent;
         transition: all 0.2s;
         &:hover,
         &:focus {
            opacity: 1;
            border: 1px solid $dark-green;
         }
         &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $dark-green;
            cursor: pointer;
         }
         &::-moz-range-thumb {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: white;
            border: 1px solid $dark-green;
            cursor: pointer;
         }
      }

      .label-container {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 0 20px;

         input[type='text'] {
            border: none;
            font-size: 1.5rem;
            font-weight: lighter;
            margin: 0;
            width: 20%;
            padding: 5px 20px;
            text-align: right;
            background-color: transparent;

            &:focus {
               outline: none;
            }
         }
      }
   }

   // --- Color ---
   .color-container {
      display: flex;
      align-items: center;
      margin-top: 20px;

      label {
         margin-right: 20px;
      }
   }

   // --- Check box ---
   .container-checkbox {
      display: flex;
      align-items: center;
      margin-top: 20px;

      label {
         margin-right: 20px;
      }

      .checkbox-wrapper .tgl {
         display: none;
      }
      .checkbox-wrapper .tgl + .tgl-btn {
         outline: 0;
         display: block;
         width: 4em;
         height: 2em;
         position: relative;
         cursor: pointer;
         opacity: 0.8;
         box-shadow: 3px 3px 3px 0px #333333;

         &:hover {
            opacity: 1;
         }
      }
      .checkbox-wrapper .tgl + .tgl-btn:after,
      .checkbox-wrapper .tgl + .tgl-btn:before {
         position: relative;
         display: block;
         content: '';
         width: 50%;
         height: 100%;
      }
      .checkbox-wrapper .tgl + .tgl-btn:after {
         left: 0;
      }
      .checkbox-wrapper .tgl + .tgl-btn:before {
         display: none;
      }
      .checkbox-wrapper .tgl:checked + .tgl-btn:after {
         left: 50%;
      }

      .checkbox-wrapper .tgl-skewed + .tgl-btn {
         overflow: hidden;
         transform: skew(-10deg);
         -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
         transition: all 0.2s ease;
         font-family: sans-serif;
         background: $black;
      }
      .checkbox-wrapper .tgl-skewed + .tgl-btn:after,
      .checkbox-wrapper .tgl-skewed + .tgl-btn:before {
         transform: skew(10deg);
         display: inline-block;
         transition: all 0.2s ease;
         width: 100%;
         text-align: center;
         position: absolute;
         line-height: 2em;
         font-weight: bold;
         color: $white;
         text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
      }
      .checkbox-wrapper .tgl-skewed + .tgl-btn:after {
         left: 100%;
         content: attr(data-tg-on);
         color: white;
      }
      .checkbox-wrapper .tgl-skewed + .tgl-btn:before {
         left: 0;
         content: attr(data-tg-off);
      }
      .checkbox-wrapper .tgl-skewed:checked + .tgl-btn {
         background: $light-green;
      }
      .checkbox-wrapper .tgl-skewed:checked + .tgl-btn:before {
         left: -100%;
      }
      .checkbox-wrapper .tgl-skewed:checked + .tgl-btn:after {
         left: 0;
      }
   }
}

// --- MEDIA QUERIES ---
@media screen and (max-width: 1000px) {
   body {
      font-size: 1.1rem;
   }
   .col-2 {
      grid-template-columns: 1fr;
   }

   .demo-box-container {
      margin-top: 50px;

      .demo-box {
         height: 100%;
      }

      .copy-container {
         margin: 70px auto 50px auto;
      }
   }
}

@media screen and (max-width: 600px) {
   body {
      font-size: 1rem;
   }
   .container {
      width: 90%;
   }
}
