@import '../../style/global.scss';

.container-checkbox {
   display: flex;
   align-items: center;
   margin-top: 20px;

   input[type='checkbox'] {
      cursor: pointer;
      width: 25px;
      height: 25px;
   }

   label {
      margin-right: 15px;
      font-weight: 600;
   }
}
