@import '../../style/global.scss';

.demo-box-container {
   margin-top: 20px;
   color: $white;

   .demo-box {
      width: 50%;
      height: 50%;
      background-color: $light-green;
      margin: 0 auto;
   }
   .copy-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $black;
      margin: 100px auto 0 auto;
      width: 75%;
      border-radius: 10px;
      padding: 5px 20px;
      box-shadow: 3px 3px 3px 0px #333333;

      p {
         font-family: 'Hind', sans-serif;
         text-align: center;
         margin-right: 20px;
      }

      .copy-btn-container {
         text-align: center;
         width: 20%;
         cursor: pointer;
         transition: all 0.2s;
         opacity: 0.7;

         &:hover {
            color: white;
            opacity: 1;
         }

         button {
            background-color: transparent;
            border: none;
            color: $white;
            font-size: 2rem;
         }

         span {
            display: block;
            font-size: 0.8rem;
         }
      }
   }
}

@media screen and (max-width: 700px) {
   .demo-box-container {
      margin-top: 50px;

      .demo-box {
         height: 100%;
      }

      .copy-container {
         margin: 70px auto 50px auto;
      }
   }
}
