// --- VARIABLES ---
$black: #2f3e46;
$dark-green: #354f52;
$green: #52796f;
$light-green: #84a98c;
$white: #cad2c5;

$shadow: 3px 3px 3px 0px #333333;
$neon-shadow: 0 0 3px rgba(132, 169, 140, 0.5);

// --- SLIDER ---
.slider-container {
   input[type='range'] {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 20px;
      border-radius: 10px;
      background-color: $light-green;
      outline: none;
      opacity: 0.7;
      transition: all 0.2s ease;
      &:hover,
      &:focus {
         opacity: 1;
         box-shadow: $neon-shadow;

         &::-moz-range-thumb {
            transform: scale(1.2);
         }
         &::-webkit-slider-thumb {
            transform: scale(1.2);
         }
      }
      &::-webkit-slider-thumb {
         -webkit-appearance: none;
         appearance: none;
         width: 30px;
         height: 30px;
         border-radius: 50%;
         background-color: white;
         border: none;
         box-shadow: $shadow;
         cursor: pointer;
         transition: all 0.1s ease;
      }
      &::-moz-range-thumb {
         width: 30px;
         height: 30px;
         border-radius: 50%;
         background: white;
         border: none;
         box-shadow: $shadow;
         cursor: pointer;
         transition: all 0.1s ease;
      }
   }

   .label-container {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px;

      input[type='text'] {
         border: none;
         font-size: 1.5rem;
         font-weight: lighter;
         margin: 0;
         width: 35%;
         padding: 5px 20px;
         text-align: right;
         background-color: transparent;
         color: $white;

         &:focus {
            outline: none;
         }
      }
      span {
         position: absolute;
         right: -10px;
         bottom: 0;
         font-size: 0.9rem;
      }
   }
}
